.sisteen.columns
  span.copyright
    a(href='https://github.com/shadowsocks') Projects of Shadowsocks
    | &nbsp;are distributed under different licenses, including &nbsp;
    a(href='https://github.com/shadowsocks/shadowsocks/blob/master/LICENSE') APL 2.0,
    | &nbsp;
    a(href='https://github.com/shadowsocks/shadowsocks-libev/blob/master/LICENSE') GPLv3
    | &nbsp; and &nbsp;
    a(href='https://github.com/shadowsocks/libQtShadowsocks/blob/master/LICENSE') LGPLv3
    | . Theme by 
    a(href='http://karma-runner.github.io') Karma
    | .
