.ten.columns
  span.copyright
    a(href='https://github.com/shadowsocks') Shadowsocks
    | &nbsp;is released under the 
    a(href='https://github.com/madeye/shadowsocks-libev/blob/master/LICENSE') GPLv3 license
    | &nbsp; or the 
    a(href='https://github.com/clowwindy/shadowsocks/blob/master/LICENSE') MIT license
    | . Site by&nbsp; 
    a(href='https://github.com/madeye') Max Lv
    | .
.six.columns
  .social
    a(href='https://github.com/karma-runner/karma/'
      data-tooltip='GitHub Repo')
      i.icon-github-alt.icon-large
    a(href='https://github.com/karma-runner/karma/issues'
      data-tooltip='Issues')
      i.icon-beaker.icon-large
    a(href='http://twitter.com/JsKarma'
      data-tooltip='@JsKarma')
      i.icon-twitter.icon-large
    a(href='https://groups.google.com/forum/#!forum/karma-users'
      data-tooltip='Mailing List')
      i.icon-envelope-alt.icon-large
