.ten.columns
  span.copyright
    a(href='https://github.com/karma-runner/karma') Karma
    | &nbsp;is released under the 
    a(href='https://github.com/karma-runner/karma/blob/master/LICENSE')
      | MIT license
    | . Site by&nbsp;
    a(href='https://github.com/Dignifiedquire')
      | Friedel Ziegelmayer
    | .
.six.columns
  .social
    a(href='https://github.com/karma-runner/karma/'
      data-tooltip='GitHub Repo')
      i.icon-github-alt.icon-large
    a(href='https://github.com/karma-runner/karma/issues'
      data-tooltip='Issues')
      i.icon-beaker.icon-large
    a(href='http://twitter.com/JsKarma'
      data-tooltip='@JsKarma')
      i.icon-twitter.icon-large
    a(href='https://groups.google.com/forum/#!forum/karma-users'
      data-tooltip='Mailing List')
      i.icon-envelope-alt.icon-large
