.sisteen.columns
  span.copyright
    a(href='https://github.com/shadowsocks') Shadowsocks
    | &nbsp;is released under the 
    a(href='https://github.com/madeye/shadowsocks-libev/blob/master/LICENSE') GPLv3 license
    | &nbsp; or the 
    a(href='https://github.com/clowwindy/shadowsocks/blob/master/LICENSE') MIT license
    | . Theme by 
    a(href='http://karma-runner.github.io') Karma
    | .
