.sisteen.columns
  span.copyright
    a(href='https://github.com/shadowsocks') Shadowsocks
    | &nbsp;is released under the 
    a(href='https://github.com/shadowsocks/shadowsocks-libev/blob/master/LICENSE') GPLv3 license
    | &nbsp; or the 
    a(href='https://github.com/shadowsocks/shadowsocks/blob/master/LICENSE') MIT license
    | &nbsp; or the 
    a(href='https://github.com/librehat/libQtShadowsocks/blob/master/LICENSE') LGPLv3 license
    | . Theme by 
    a(href='http://karma-runner.github.io') Karma
    | .
