extends layout

block content
  .container.clearfix
    #welcome.sixteen.columns
      .qoute
        .ten-and-half.columns.omega
          h1
              | A secure socks5 proxy,
          h1
              | designed to protect your Internet traffic.
        .four-and-half.columns.alpha
          a.btn-download.link(href='intro/downloads.html')
            span
              i.fa.fa-download.fa-lg
              | &nbsp; Try it now!
          a.btn-support.link(href='https://groups.google.com/forum/#!forum/shadowsocks')
            span
              i.fa.fa-comments-o.fa-lg
              | &nbsp; Get support

  .container.clearfix
    #brand.sixteen.columns.bottoms
      p.bold.large.center.
        We believe an uncensored Internet is a better Internet.

  .container.clearfix
    .our-services
      ul
        li.one-third.column
          .icon-box
            i.fa.fa-bolt.fa-2x
          h3 Super Fast
          p
            | Bleeding edge techniques with Asynchronous I/O 
            | and Event-driven programming.
        li.one-third.column
          .icon-box
            i.fa.fa-shield.fa-2x
          h3 Flexible Encryption
          p
            | All traffic encrypted with industry
            | level algorithms. Flexible to support custom
            | encryption methods.
        li.one-third.column
          .icon-box
            i.fa.fa-mobile.fa-2x
          h3 Mobile Ready
          p
            | Optimized for mobile device and wireless network,
            | without keep-alive connections.

        li.one-third.column.last
          .icon-box
            i.fa.fa-arrows-alt.fa-2x
          h3 Cross Platform
          p
            | Avaliable on multiple platforms, including PC, MAC, 
            | Mobile (Android and iOS) and Routers (OpenWRT).
        li.one-third.column.last
          .icon-box
            i.fa.fa-group.fa-2x
          h3 Open Source
          p
            | Open source implementations in python, node.js, golang,
            | C#, and pure C.

        li.one-third.column.last
          .icon-box
            i.fa.fa-cloud.fa-2x
          h3 Easy Deployment
          p
            :markdown
              Easy deployment with [pip](https://pypi.python.org/pypi/shadowsocks), 
              [npm](https://npmjs.org/package/shadowsocks), [aur](https://aur.archlinux.org/packages/shadowsocks-libev/),
              [freshports](http://www.freshports.org/net/shadowsocks-libev/)
              and many other package manager systems.
