extends layout

block content
  .container.clearfix
    #welcome.sixteen.columns
      .qoute
        .ten-and-half.columns.omega
          h1
              | A secure socks5 proxy,
          h1
              | designed to protect your Internet traffic.
        .four-and-half.columns.alpha
          a.btn-download.link(href='download/clients.html')
            span
              i.fa.fa-download.fa-lg
              | &nbsp; Try it now!
          a.btn-support.link(href='https://groups.google.com/forum/#!forum/shadowsocks')
            span
              i.fa.fa-comments-o.fa-lg
              | &nbsp; Get support

  .container.clearfix
    #brand.sixteen.columns.bottoms
      blockquote.large.center
        | If you want to keep a secret, you must also hide it from yourself.

  .container.clearfix
    .our-services
      ul
        li.one-third.column
          .icon-box
            i.fa.fa-bolt.fa-2x
          h3 Super Fast
          p
            | Bleeding edge techniques using Asynchronous I/O 
            | and Event-driven programming.
        li.one-third.column
          .icon-box
            i.fa.fa-shield.fa-2x
          h3 Flexible Encryption
          p
            | Secured with industry level encryption algorithm.
            | Flexible to support custom algorithms.
        li.one-third.column
          .icon-box
            i.fa.fa-mobile.fa-2x
          h3 Mobile Ready
          p
            | Optimized for mobile device and wireless network,
            | without any keep-alive connections.

        li.one-third.column.last
          .icon-box
            i.fa.fa-arrows-alt.fa-2x
          h3 Cross Platform
          p
            | Available on most platforms, including Windows, Linux, Mac,
            | Android, iOS, and OpenWRT.
        li.one-third.column.last
          .icon-box
            i.fa.fa-group.fa-2x
          h3 Open Source
          p
            | Totally free and open source. A worldwide community
            | devoted to deliver bug-free code and long-term support.

        li.one-third.column.last
          .icon-box
            i.fa.fa-cloud.fa-2x
          h3 Easy Deployment
          p
            :markdown
              Easy deployment with [pip](https://pypi.python.org/pypi/shadowsocks),
               [aur](https://aur.archlinux.org/packages/shadowsocks-libev/),
               [freshports](http://www.freshports.org/net/shadowsocks-libev/)
               and many other package manager systems.
