include lib

!!! 5
html(lang="en")
  head
    include head
  body
    #wrap.boxed
      header
        .container.clearfix
          .four.columns
            .logo
              a(href='/#{self.version}/index.html') shadowsocks
          .twelve.columns
            nav#menu.navigation
              ul#nav
                mixin navigation(self, menu)
                mixin versionDropdown(versions, self.version)
          .sixteen.columns
            hr

      block content
        .container.clearfix
          .sixteen.columns
            h1.page-title
              = self.pageTitle
              if self.editButton
                a.edit(href='#{self.editUrl}', data-tooltip='Edit this page on GitHub')
                  i.icon-edit
              span.line
          .page-columns
            #markdown.sixteen.columns.bottom
              != self.content
      .push
    footer
      .container
        include footer

  // Placed at the end of the document so the pages load faster
  include scripts
